.tasks {
  min-height: 80vh;
  background-color: rgb(234, 235, 235);
  display: flex;
  align-items: flex-start;
  margin-top: 1rem;
}

.type_btn {
  margin: 2rem;
  width: 15rem;
  padding: 1.7rem 0;
  border-radius: 1.5rem;
}

.type_btn:hover {
  cursor: pointer;
  background-color: #ababab;
  color: white;
}

.left {
  width: 70%;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.form__title {
  margin-top: 3rem;
}

.right {
  margin: 1.7rem;
  font-size: 1.6rem;
  width: 30%;
  padding: 10rem 4rem;
  border-radius: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0 0.8rem 3rem 0;
}

.form_control {
  padding: 2rem 0;
}
